// 2. Vision Mission
@use '../components/variables' as *;

body.vision-page-vision-mission {
  .info-section {
    .content-text {
      padding: 4rem 6rem;
      &.block-dark {
        color: $color-white;
        background-color: $color-dark-blue;
      }
      .heading {
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2rem;
        padding: 0;
      }
      .full-text {
        font-size: 20px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .info-section {
      > div > div {
        display: flex;
        flex-direction: column;
      }
      .image-block {
        order: 1;
      }
      .content-text {
        order: 2;
      }
    }
  }
}
