// 3. Projects (archive / list)
@use '../components/variables' as *;

body.vision-page-projects {
  main .umb-block-list {
    margin-top: $desktop-header-height;
  }

  .content-grid.project-grid .block {
    padding: 4rem 6rem;
  }

  .content-grid.project-grid {
    .block:nth-child(6n+1),
    .block:nth-child(6n+4),
    .block:nth-child(6n+5) {
      background: $color-light-blue;
      color: $color-dark-blue;
      .block-text,
      .block-header {
        color: $color-dark-blue;
      }
    }
    .block:nth-child(6n+2),
    .block:nth-child(6n+3),
    .block:nth-child(6n+6) {
      background: $color-white;
      color: $color-dark-blue;
      .block-text,
      .block-header {
        color: $color-dark-blue;
      }
    }
    .block:hover .block-text,
    .block:hover .block-header {
      transition: all 0.2s ease-in-out;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin: 1rem;
    .page-numbers {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
      background: $color-light-blue;
    }
    .current {
      background: $color-dark-blue;
      color: $color-white;
    }
  }

  @media screen and (max-width: 1024px) {
    main .umb-block-list {
      margin-top: 81px;
    }
    .content-grid.project-grid .block {
      padding: 2rem;
    }
  }
}
