// 11. Update internal (single post)
@use '../components/variables' as *;

body.vision-page-update-internal {
  main .umb-block-list {
    margin-top: $desktop-header-height;
  }

  .hero-banner-img {
    height: 400px;
    background-size: cover;
    background-position: center center;
  }

  .single-post__content {
    .panel-column .title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
  }

  @media screen and (max-width: 1024px) {
    main .umb-block-list {
      margin-top: 81px;
    }
    .hero-banner-img {
      height: 250px;
      background-size: cover;
      background-position: center center;
    }
  }
}
