// 5. Events (list)
@use '../components/variables' as *;

body.vision-page-events {
  main .umb-block-list {
    margin-top: $desktop-header-height;
  }

  .content-grid.key-grid,
  .project-grid {
    .block {
      padding: 4rem 6rem;
    }
  }

  .content-grid.project-grid.events-grid {
    a:nth-child(6n+1),
    a:nth-child(6n+4),
    a:nth-child(6n+5) {
      .block {
        background: $color-light-blue;
        color: $color-dark-blue;
        .block-text,
        .block-header {
          color: $color-dark-blue;
        }
      }
    }
    a:nth-child(6n+2),
    a:nth-child(6n+3),
    a:nth-child(6n+6) {
      .block {
        background: $color-white;
        color: $color-dark-blue;
        .block-text,
        .block-header {
          color: $color-dark-blue;
        }
      }
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin: 1rem;
    .page-numbers {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
      background: $color-light-blue;
    }
    .current {
      background: $color-dark-blue;
      color: $color-white;
    }
  }

  @media screen and (max-width: 1024px) {
    main .umb-block-list {
      margin-top: 81px;
    }
    .content-grid.project-grid.events-grid {
      a:nth-child(even) .block {
        padding: 2rem;
        background: $color-light-blue;
        color: $color-dark-blue;
        .block-text,
        .block-header {
          color: $color-dark-blue;
        }
      }
      a:nth-child(odd) .block {
        padding: 2rem;
        background: $color-white;
        color: $color-dark-blue;
        .block-text,
        .block-header {
          color: $color-dark-blue;
        }
      }
    }
  }
}
