// 8. Service internal
@use '../components/variables' as *;

body.vision-page-service-internal {
  main .umb-block-list {
    margin-top: $desktop-header-height;
  }

  .asset-container,
  .presentation-for,
  .expected-results-container {
    .block {
      padding: 4rem 6rem;
    }
    .block-light {
      background: $color-light-blue;
      color: $color-dark-blue;
    }
    .block-dark {
      background: $color-dark-blue;
      color: $color-white;
    }
    .block-dark,
    .block-light {
      background-size: cover;
    }
  }

  .content-grid div {
    background-size: cover;
  }

  .presentation-for .block {
    width: 20%;
  }
  .presentation-for .block-light {
    background: $color-light-blue;
  }

  .hero-banner-img {
    height: 400px;
    background-size: cover;
    background-position: center center;
  }

  @media screen and (max-width: 1024px) {
    main .umb-block-list {
      margin-top: 81px;
    }
    .hero-banner-img {
      height: 250px;
      background-size: cover;
      background-position: center center;
    }
    .umb-block-list {
      .asset-container .block,
      .presentation-for .block,
      .info-section .content-text,
      .expected-results-container .block {
        padding: 2rem;
      }
    }
    .presentation-for {
      > div {
        flex-direction: column;
      }
      .block {
        width: 100%;
      }
    }
  }
}
