@use 'variables' as *;

.event-over {
  color: $color-red-error;
}

@media (max-width: 1024px) {}
.event-template-default {
  h1 {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.4rem;
    padding: .5rem 0;
  }
}