.services > div:hover {
  cursor: pointer;
}

.services > div:hover .aos-animate {
  color: #d0b135 !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.numbers {
  display: flex;
  color: #d0b135;
  text-align: center;
  font-size: 2rem;
}

.numbers .total {
  font-size: 5rem;
  font-weight: 700;
  color: #00012e;
}

.numbers > div {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.2rem;
}

.partners ul {
  display: flex;
  flex-wrap: wrap;
}

.partners ul li {
  padding: 3.5rem 1.5rem;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners ul li:hover {
  opacity: 0.7;
  cursor: pointer;
}

.partners img {
  max-height: 85px;
}

.footer-bottom {
  display: flex;
}

.footer-bottom > div {
  display: flex;
  width: 33.33333%;
}

.footer-bottom {
  .social {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;

    > div {
      order: 2;
    }
  }

  .footer-menu {
    order: 1;
    display: flex;
    gap: 1rem;
    color: #FFF;
  }
}


.footer-bottom .footer-menu a:hover {
  border-bottom: 1px solid #FFF;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-logo img {
  max-height: 150px;
  margin-bottom: -3rem;
}

.footer-bottom .social > div {
  display: flex;
  gap: 1rem;
}

.copyright {
  color: #FFF;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-size: .8rem;
}

/*p {*/
/*  !* animation-name: text-appear; @keyframes defined below *!*/
/*  !* animation-timing-function: ease-in; standard should be linear *!*/
/*  !* animation-fill-mode: both; keeps animated values forwards and backwards *!*/
/*  animation: text-appear ease-in both;*/
/*  animation-timeline: view(); !* applies animation state relative to viewport *!*/
/*  animation-range: 0vh 30vh; !* set 0% and 100% positions *!*/
/*}*/

/*@prefers-reduced-motion {*/
/*  p {*/
/*    animation: none;*/
/*  }*/
/*}*/


/*@keyframes image-appear {*/
/*  from {*/
/*    filter: saturate(0) contrast(4) brightness(.1) blur(3px);*/
/*    opacity: 0;*/
/*    scale: .95;*/
/*    translate: 0 4rem;*/
/*  }*/
/*}*/

/*@keyframes text-appear {*/
/*  from {*/
/*    opacity: 0;*/
/*    translate: 0 8rem;*/
/*  }*/
/*}*/

h1, h2, h3, h4, h5, h6, p {
  font-family: "Inter", sans-serif;
}
