@use 'variables' as *;

.services > div:hover {
  cursor: pointer;
}

.services > div:hover .aos-animate {
  color: #d0b135 !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.numbers {
  display: flex;
  color: #d0b135;
  text-align: center;
  font-size: 2rem;
}

.numbers .total {
  font-size: 5rem;
  font-weight: 700;
  color: #00012e;
}

.numbers > div {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.2rem;
}

.partners ul {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.partners ul li {
  padding: 2.2rem 1.2rem;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners ul li:hover {
  opacity: 0.7;
  cursor: pointer;
}

.partners img {
  max-height: 85px;
}

.footer-bottom {
  display: flex;
}

.footer-bottom > div {
  display: flex;
  width: 33.33333%;
}

.footer-bottom {
  .social {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;

    > div {
      order: 2;
    }
  }

  .footer-menu {
    order: 1;
    display: flex;
    gap: 1rem;
    color: $color-dark-blue;
  }
}


.footer-bottom .footer-menu a:hover {
  border-bottom: 1px solid $color-dark-blue;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: -2rem;
}

.footer-logo img {
  max-height: 85px;
}

.footer-bottom .social > div {
  display: flex;
  gap: 1rem;
}

.copyright {
  color: $color-dark-blue;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-size: .8rem;
}

.footer-bottom{
  .social-icons {
    a {
      color: $color-dark-blue;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  .copyright {
    .social-icons {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  footer {
    padding-bottom: 1rem !important;
  }

  .contact {
    .form-group {
      padding: 3rem;

      .title-default {
        margin-bottom: 2rem;
      }

      button {
        width: 100%;
        max-width: 400px;
      }
    }
  }

  .footer-bottom{
    flex-direction: column;

    .social {

      .footer-menu {
        margin: 1rem 0 1.5rem;
        width: 100%;
        justify-content: center;
      }
      .social-icons {
        display: none;
      }
    }

    > div {
      width: 100%;
      align-items: center;
    }

    .footer-logo {
      .footer-menu {
        display: none;
      }
      img {
        max-width: 90px;
        margin: 1.5rem 0 3.5rem;
      }
    }

    .copyright {
      padding: 0 1rem;
      justify-content: space-between;
      opacity: .8;

      .social-icons {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
