@use 'variables' as *;

.form-group {
  color: #f0f7ff;
  padding: 2rem 6rem;
}

.form-group h2 {
  font-size: 2rem;
}

.form-default {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-default .input-group {
  display: flex;
  gap: 1.2rem;
  justify-content: space-between;
}
.form-default .input-group > div{
  width: 100%;
}
.form-default .input-group input {
  /*width: 45%;*/
}

.form-default input,
.form-default textarea {
  background: #f0f7ff;
  border: 2px solid #00012e;
  color: #00012e;
  padding: .75rem 1rem;
  border-radius: .5rem;
  width: 100%;
}
.form-default textarea {
  max-height: 150px;
}

.form-default button {
  background: $color-light-blue;
  color: $color-dark-blue;
  text-transform: uppercase;
  display: flex;
  width: 180px;
  justify-content: center;
  align-items: center;
  height: 55px;
  border-radius: 5px;
  gap: 7px;
  font-weight: 400;
  font-size: 18px;
}

.form-default button:hover {
  transform: scale(1.05);

}

:hover {
  transition: 0.35s ease;
}

.form-default input:focus-visible,
.form-default textarea:focus-visible {
  border-color: #00012e;
  outline: none;
}
