@use 'variables' as *;

.form-group {
  color: $color-white;
  padding: 2rem 6rem;
}

.form-group h2 {
  font-size: 2rem;
}

.form-default {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-default .input-group {
  display: flex;
  gap: 1.2rem;
  justify-content: space-between;
}

.form-default .input-group > div {
  width: 100%;
}

.form-default .input-group input {
  /*width: 45%;*/
}

.form-default input,
.form-default textarea {
  background: $color-white;
  border: 2px solid $color-dark-blue;
  color:  $color-dark-blue;
  padding: .75rem 1rem;
  border-radius: .5rem;
  width: 100%;
}

.form-default textarea {
  max-height: 150px;
}

.form-default button {
  background: $color-white;
  color: $color-dark-blue;
  text-transform: uppercase;
  display: flex;
  width: 180px;
  justify-content: center;
  align-items: center;
  height: 55px;
  border-radius: 5px;
  gap: 7px;
  font-weight: 400;
  font-size: 18px;
}

.form-default button:hover {
  transform: scale(1.05);

}

:hover {
  transition: 0.35s ease;
}

.form-default input:focus-visible,
.form-default textarea:focus-visible {
  border-color: $color-dark-blue;
  outline: none;
}

.form-default {
  .wpcf7-not-valid {
    border: 2px solid $color-red-error;
  }

  .wpcf7-not-valid-tip {
    display: none;
  }
}

.wpcf7-form {
  position: relative;

  &.submitting {
    &:before {
      content: 'submitting...';
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-dark-blue;
      opacity: 0.8;
      z-index: 20;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
    }
  }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  display: none;
}

.wpcf7 form .wpcf7-response-output {
  color: $color-gold;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
}