@use 'variables' as *;

main {
  .umb-block-list {
    margin-top: 150px;
  }
}

@media screen and (min-width: 1024px) {
  body.home h1, body.europe h1, body.amea h1, body.americas-caribbean h1 {
    font-size: 2.4rem;
    line-height: 1.5;
    text-align: center;
  }
}


@media screen and (min-width: 1044px) {

  .hero-banner-block {
    max-height: 400px;
  }
}

.block-light {
  .block-header,
  .block-text {
    color: $color-dark-blue;
  }

  a.block-text {
    &:after {
      background-color: $color-dark-blue;
    }
  }
}

.block-dark {
  .block-header,
  .block-text {

    color: $color-white;
  }

  a.block-text {
    &:after {
      background-color: $color-white;
    }
  }
}

.partners {
  h3 {
    color: $color-white;
    font-size: 3rem;
    margin: 2rem 0 -2rem;
    width: 100%;
    text-align: center
  }
}

.news-container-nav {
  display: flex;
  justify-content: space-between;
}

.services {
  .block-light,
  .block-dark {
    > div {
      padding: 6rem;
    }
  }
}

.testimonials {
  .left-side {
    > div {
      padding: 3rem 6rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .services {
    display: flex;
    flex-direction: column;

    > div {
      &:nth-child(3) {
        order: 4;
      }
      &:nth-child(4) {
        order: 3;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  main .umb-block-list {
    margin-top: 100px;
  }

  .hero {
    h1 {
     text-align: center;
    }
  }

  .services {
    .block-light,
    .block-dark {
      > div {
        padding: 4rem 3rem;
      }
    }
  }

  .partners {
    h3 {
      margin-bottom:-1rem
    }

    ul {
      justify-content: center;
      li {
        width: 50%;
      }
    }
  }

  .testimonials {
    .left-side {
      > div {
        padding: 3rem;
      }
    }
  }
}