@use 'variables' as *;


.language-ar {
  direction: rtl;
  font-family: 'Tajawal', sans-serif;

  h1, h2, h3, h4, h5, button,
  h6, p,
  header nav a,
  header nav .mega-menu-link,
  footer a,
  .location,
  .plaakRegular,
  .Inter,
  .\!Inter,
  .akkuratLight,
  .\!akkuratLight,
  .akkuratRegular,
  .\!akkuratRegular {
    font-family: 'Tajawal', sans-serif;
  }

  &.home h1 {
    font-size: 2.8rem;
  }

  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.menu-item-logo,
  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item.menu-item-logo
  {
    width: 130px;
  }

  .read-more {
    font-size: 1rem;
  }

  .language-switcher .dropdown-menu {
    right: unset;
    left: 0;
  }

  .info-section .content-text .heading {
    font-size: 1.8rem;
  }

  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item,
  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item {
    width: 145px;
  }
    nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link,
  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link {
    font-family: 'Tajawal', sans-serif;
  }

  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link,
  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link {
    font-size: 1.2rem;
  }

  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu .mega-menu-column:nth-child(2) {
    border-left: 1px solid $color-slate-200;
    border-right: none;
    direction: rtl;
    text-align: right;

    .mega-block-title {
      direction: rtl;
      text-align: right;
    }
  }

  nav .testimonial-megamenu-item,
  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item .textwidget,
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column-standard h4.mega-block-title,
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title {
    direction: rtl;
    text-align: right;
  }

  #updates {
    direction: ltr;

    .block-dark {
      background-color: $color-light-blue;
      color: $color-dark-blue;

      .block-header,
      .read-more,
      .block-text {
        color: $color-dark-blue;
      }
    }
    .block-light {
      background-color: $color-dark-blue;
      color: $color-white;

      .block-header,
      .read-more,
      .block-text {
        color: $color-white;
      }
    }
  }

  .form-group {
    .title-default {
      direction: rtl;
    }

    .input-group {
      .input {
        order: 2;

        &:nth-child(2) {
          order: 1;
        }
      }
    }

    .checkbox,
    .submit,
    input,
    textarea {
      direction: rtl;
    }
  }


  .\!text-xl {
    font-size: 1.5rem !important;
  }

  @media screen and (max-width: 1024px) {
    header nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu ul.menu li {
      padding: 0.2rem 5rem 0.2rem 0;
    }

    header nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu ul.menu li a {
      font-size: 1.25rem !important;
    }

    .language-ar nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link,
    .language-ar nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link {
      font-size: 1.5rem !important;
    }
  }
}
