@use 'variables' as *;
.leadership-row {

  max-width: 100%;
  margin: 45px 0;

  .default__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

  }

  .row {
    border-bottom: 1px solid $color-gold;
    padding-bottom: 60px;
  }

  .row:last-child {
    border-bottom: 0px solid $color-gold;
    padding-bottom: 0px;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    align-items: flex-start;

    .column.descr {
      h2 {
        font-size: 36px;
        padding-bottom: 10px;
        font-weight: 600;
        color: $accent;
      }

      .text {
        padding: 25px 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        ul {
          display: flex;
          flex-direction: column;
          gap: 15px;

          li {
            font-size: 17px;
            line-height: 1.5;
            color: $accent;

            b, strong {
              color: $accent;
              font-weight: 600;
            }
          }
        }

        p {
          font-size: 17px;
          line-height: 1.5;
          color: $accent;

          strong, b {
            color: $accent;
            font-size: 17px;
          }
        }
      }

      h3 {
        font-size: 18px;
        color: $accent;
      }
    }

    .column.image {
      position: relative;

      img {
        display: block;
        width: 100%;
        border-radius: 25px;
      }

      .social {
        position: absolute;
        bottom: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: center;
        margin-top: 30px;

        a {
          width: 50px;
          height: 50px;
          background: $color-light-blue;
          color: $color-dark-blue;
          display: flex;
          align-items: center;
          justify-content: center;
          backdrop-filter: blur(10px);
          border-radius: 5px;
          -webkit-backdrop-filter: blur(10px);
        }

        i {
          font-size: 28px;
          color: $hover;
        }
      }
    }
  }
}

.social-mobile {
  display: flex;
  align-items: center;
  gap:5px;
  justify-content: flex-start;
  margin-top: 20px;

  a {
    width: 30px;
    height: 30px;
    color: $color-dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: $color-gold;
    }
  }
}

@media screen and (max-width: 1024px) {
  .leadership-row {
    .row {
      grid-template-columns: 1fr;
    }
  }
}