@use 'variables' as *;

nav {
  width: 80%;
  margin: 0 auto;
  padding: .75rem 0;
  background: $color-white;
  display: flex;
  justify-content: center;

  #mega-menu-wrap-primary {
    background: none;
    position: unset;

    #mega-menu-primary {
      display: flex;
      justify-content: center;
      gap: 2rem;
      position: unset;
      padding-bottom: 1rem;
      align-items: end;

      > li.mega-menu-item,
      > li.mega-menu-item.mega-current-menu-item {
        width: 135px;
        display: flex;
        justify-content: center;
        color: $color-dark-blue;

        &.menu-item-logo {
          width: 120px;
          margin-bottom: -.8rem;
          a:before {
            display: none;
          }
        }

        > a.mega-menu-link {
          font-family: "Times";
          padding: 0;
          justify-content: center;
          height: auto;
          background: none;
          font-size: .9rem;
          line-height: .9rem;
          text-transform: uppercase;
          color: $color-dark-blue;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: #d0b135;
            top: 20px;
            left: 0;
            pointer-events: none;
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.3s;
          }

          &:hover,
          &:focus {
            background: none;
            color: $color-dark-blue;
            transition: 0.35s ease;

            &:before {
              transform-origin: 0% 50%;
              transform: scale3d(1, 1, 1);
            }
          }
        }
      }
    }
  }

  .mega-menu-wrap {
    background: none;
  }

  /** SUB MENU ***/
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
    background: $color-white;
    top: 105px;
    border-bottom: 1px solid $color-slate-200;

    .mega-menu-column {
      &:first-child {
        padding: 5rem;

        @media (max-width: 1550px) {
          padding: 4rem 5rem;
        }
      }
    }

      .menu-sub-menu-about-container,
      .menu-services-sub-menu-container {
        .menu {
          li {
            a {
              padding: 2.5rem;
              border-bottom: 1px solid $color-slate-200;
              border-left: 1px solid $color-slate-200;
              border-right: 1px solid $color-slate-200;
              display: flex;
              font-size: 1rem;
              text-transform: uppercase;
              position: relative;

              &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background: $color-gold;
                bottom: -1px;
                left: 0;
                pointer-events: none;
                transform-origin: 100% 50%;
                transform: scale3d(0, 1, 1);
                transition: transform 0.3s;
              }

              &:hover {
                color: $color-gold;
                &:before {
                  transform-origin: 0% 50%;
                  transform: scale3d(1, 1, 1);
                }

                transition: all 0.5s ease-in-out;
              }
            }

            &:last-child {
              a {
                border-bottom: none;
              }
            }
          }
        }
      }

    .menu-services-sub-menu-container {
      .menu {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 33%;

          a {
            border-left: none;
            border-right: none;
          }

          &:nth-child(2),
          &:nth-child(5) {
            a {
              border-left: 1px solid $color-slate-200;
              border-right: 1px solid $color-slate-200;
            }
          }

          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }


    li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
      h4.mega-block-title {
        color: $color-dark-blue;
        text-transform: uppercase;
        padding: 0;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0 0 1.25rem;
        font-weight: 400;
      }

      .textwidget {
        margin: 0;
        padding: 0;
        color: $color-dark-blue;

        p {
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
      }
    }
  }

  #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
    padding: 0;
  }

  .testimonial-megamenu-item {

    h3 {
      font-size: 1.5rem;
      padding-left: 2rem;
      margin: 2rem 0 1rem;
    }

    > div {
      font-size: 1rem;
      padding: 0 2rem;
    }
  }
}
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-box {
  height: 15px;
}
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner,
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::before,
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::after {
  height: 2px;
}

@media screen and (max-width: 1024px) {
  header {
    nav {
      .mega-close {
        display: none !important;
      }

      #mega-menu-wrap-primary #mega-menu-primary {
        justify-content: start;

        > li.mega-menu-megamenu > ul.mega-sub-menu {
          display: none !important;
          padding: 0;
          background: none;
          border: none;

          .mega-menu-column:first-child,
          .mega-menu-column:last-child {
            display: none;
          }

          .mega-menu-column .menu-sub-menu-about-container .menu li {
            a {
              padding: .2rem 2rem;
              color: $color-white;
              border: none;
              font-size: .75rem;
            }
          }
        }

        > li.mega-current-menu-item,
        > li.mega-menu-item {
          width: 100% !important;
          padding: .5rem 0;
          display: flex;
          flex-direction: column;
          order: 2;

          .mega-indicator {
            display: none !Important;
          }

          &.menu-item-logo {
            order: 1;
            max-width: 135px;
            margin: 2rem auto 0;
          }

          > a.mega-menu-link {
            display: flex;
            font-size: 1rem;
            line-height: 1;
            color: $color-dark-blue !important;

            &:before {
              display: none;
            }
          }

          // Mobile social icons styling
          &.mega-menu-mobile-social {
            order: 999;
            width: 100% !important;
            padding: 1.5rem 0;
            margin-top: 1rem;
            border-top: 1px solid rgba(255, 255, 255, 0.2);

            .mega-menu-mobile-social-container {
              display: flex;
              justify-content: center;
              gap: 1.5rem;
              padding: 0;
              background: none;

              .mega-menu-social-link {
                display: inline-flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}

// Hide mobile social on desktop
@media screen and (min-width: 1280px) {
  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-mobile-social {
    display: none !important;
  }
}
