@use 'variables' as *;

nav {
  width: 80%;
  margin: 0 auto;
  padding: .75rem 0 1rem;
  background: $color-white;
  display: flex;
  justify-content: center;

  #mega-menu-wrap-primary {
    background: none;
    position: unset;

    #mega-menu-primary {
      display: flex;
      justify-content: center;
      gap: 2rem;
      position: unset;
      padding-bottom: 1rem;
      align-items: end;

      > li.mega-menu-item,
      > li.mega-menu-item.mega-current-menu-item {
        width: 140px;
        display: flex;
        justify-content: center;
        color: $color-dark-blue;

        &.menu-item-logo {
          width: 130px;
          margin-bottom: -1.4rem;

          a:before {
            display: none;
          }
        }

        > a.mega-menu-link {
          font-family: "Times";
          padding: 0.6rem 0;
          justify-content: center;
          height: auto;
          background: none;
          font-size: .9rem;
          line-height: .9rem;
          text-transform: uppercase;
          color: $color-dark-blue;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: $color-gold;
            top: 30px;
            left: 0;
            pointer-events: none;
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.3s;
          }

          &:hover,
          &:focus {
            background: none;
            color: $color-dark-blue;
            transition: 0.35s ease;

            &:before {
              transform-origin: 0 50%;
              transform: scale3d(1, 1, 1);
            }
          }
        }

        /* Keep hover effect when scrolled to this section (active section) */
        &.mega-menu-item-active-section > a.mega-menu-link:before {
          transform-origin: 0% 50%;
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }

  .mega-menu-wrap {
    background: none;
  }

  /** SUB MENU ***/
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
    background: $color-white;
    top: $desktop-header-height;
    border-bottom: 1px solid $color-slate-200;

    .mega-sub-menu {
      display: flex !important;
    }


    .mega-menu-column {
      &:nth-child(2) {
        padding: 3rem;
        border-right: 1px solid $color-slate-200;
        height: auto;

        @media (max-width: 1550px) {
          padding: 2rem;
        }
      }
    }

    .menu-sub-menu-about-en-container,
    .menu-sub-menu-about-ara-container,
    .menu-sub-menu-about-ukr-container,
    .menu-services-sub-menu-en-container,
    .menu-services-sub-menu-ara-container,
    .menu-services-sub-menu-ukr-container {
      .menu {
        li {
          a {
            color: $color-dark-blue;
            padding: 2.4rem 0 2.4rem 6rem;
            border-bottom: 1px solid $color-slate-200;
            border-left: 1px solid $color-slate-200;
            border-right: 1px solid $color-slate-200;
            display: flex;
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            position: relative;

            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 3px;
              background: $color-gold;
              bottom: -1px;
              left: 0;
              pointer-events: none;
              transform-origin: 100% 50%;
              transform: scale3d(0, 1, 1);
              transition: transform 0.3s;
            }

            &:hover {
              color: $color-gold;

              &:before {
                transform-origin: 0% 50%;
                transform: scale3d(1, 1, 1);
              }

              transition: all 0.5s ease-in-out;
            }
          }

          &:last-child {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }

    .menu-sub-menu-about-ara-container,
    .menu-services-sub-menu-ara-container {
      .menu {
        li {
          a {
            padding: 2.4rem 6rem 2.4rem 0;
          }
        }
      }
    }



    .menu-services-sub-menu-en-container,
    .menu-services-sub-menu-ara-container,
    .menu-services-sub-menu-ukr-container {
      .menu {
        display: flex;
        flex-wrap: wrap;

        li {
          width: 33%;

          a {
            border-left: none;
            border-right: none;
          }

          &:nth-child(3),
          &:nth-child(6) {
            a {
              border-left: 1px solid $color-slate-200;
              border-right: 1px solid $color-slate-200;
            }
          }

          &:nth-child(5),
          &:nth-child(6) {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }


    li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
      h4.mega-block-title {
        color: $color-dark-blue;
        text-transform: uppercase;
        padding: 0;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0 0 1.25rem;
        font-weight: 400;
      }

      .textwidget {
        margin: 0;
        padding: 0;
        color: $color-dark-blue;

        p {
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
      }
    }
  }

  #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
    padding: 0;
  }

  .testimonial-megamenu-item {
    color: $color-dark-blue;

    > div.info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;

      .test-logo {
        img {
          width: 70px;
        }
      }
    }

    h3 {
      font-size: 1.5rem;
      padding: 0;
      margin: 2rem 0 .2rem;
    }

    > div {
      font-size: 1rem;
      padding: 0 2rem;
    }
  }

}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-box {
  height: 15px;
}

#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner,
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::before,
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-0 .mega-toggle-animated-inner::after {
  height: 2px;
}


@media screen and (min-width: 1025px) and (max-width: 1200px) {
  nav {
    #mega-menu-wrap-primary #mega-menu-primary {
      gap: 1rem !important;

      > li.mega-menu-item,
      > li.mega-menu-item.mega-current-menu-item {
        width: 110px !important;

        > a.mega-menu-link {
          font-size: .8rem !important;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  nav {
    #mega-menu-wrap-primary #mega-menu-primary {
      gap: 1rem !important;
    }
  }
}

@media screen and (max-width: 1024px) {

  header {
    nav {

      #mega-menu-wrap-primary .mega-menu-toggle.mega-menu-open ~ button.mega-close {
        background: url('./assets/menu-close.svg') no-repeat center center;
        background-size: contain;
        left: unset;
        right: .2rem;
        top: .2rem;

        opacity: 0; // Ensure it’s hidden initially
        animation: fadeIn 0.5s ease 0.5s forwards; // 0.5s delay before it appears

        @keyframes fadeIn {
          to {
            opacity: 1; // Fully visible after the animation
          }
        }


        &:before {
          opacity: 0;
        }
      }

      #mega-menu-wrap-primary #mega-menu-primary {
        justify-content: start;

        > li.mega-menu-megamenu > ul.mega-sub-menu {
          background: none;

          > li {
            padding: 0 !important;
          }

          ul.menu {
            display: flex;
            flex-direction: column;
            padding: 0;

            li {
              width: 100%;
              padding: .2rem 0 .2rem 3rem;

              a {
                padding: 0 !important;
                border: none !important;
                font-size: .8rem !important;

                color: inherit;
                text-align: center;

                &:before {
                  display: none;
                }
              }
            }

          }

          //border: none;

          .mega-menu-column:nth-child(2),
          .mega-menu-column:last-child {
            display: none;
          }

        }

        .menu-services-sub-menu-ara-container .menu,
        .menu-services-sub-menu-en-container .menu,
        .menu-services-sub-menu-ukr-container .menu {
          display: flex;
          flex-wrap: nowrap;

          li {
            width: 100% !important;
          }
        }

        > li.mega-current-menu-item,
        > li.mega-menu-item {
          width: 100% !important;
          padding: 0;
          display: flex;
          flex-direction: column;
          order: 2;

          .mega-menu-link {
            display: block;
            width: auto;
            position: relative;
            margin: 0 auto;
          }

          .mega-indicator {
            position: absolute !important;
            width: calc(100% + 20px) !important;
            left: 0 !important;
            margin: 0 !important;
            text-align: right;
          }

          &.menu-item-logo {
            order: 1;
            max-width: 135px;
            margin: 2rem auto 0;
          }

          > a.mega-menu-link {
            display: flex;
            font-size: 1rem;
            padding: .6rem 0;
            line-height: 1;
            color: $color-dark-blue !important;

            &:before {
              display: none;
            }
          }

          // Mobile social icons styling
          &.mega-menu-mobile-social {
            order: 999;
            width: 100% !important;
            padding: 1.5rem 0;
            margin-top: 1rem;
            border-top: 1px solid rgba(255, 255, 255, 0.2);

            .mega-menu-mobile-social-container {
              display: flex;
              justify-content: center;
              gap: 1.5rem;
              padding: 0;
              background: none;

              .mega-menu-social-link {
                display: inline-flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}

// Hide mobile social on desktop
@media screen and (min-width: 1024px) {
  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-mobile-social {
    display: none !important;
  }
  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu .menu li {
    &:nth-child(1) {
      display: none !important;
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu .mega-menu-column:nth-child(2) {
    padding: 2rem;
  }

  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item .textwidget p {
    font-size: .9rem;
  }

  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title {
    font-size: 1.2rem;
  }

  nav .testimonial-megamenu-item {
    h3 {
      font-size: 1.2rem;
      margin-top: 1rem;
    }

    > div.info {
      margin-bottom: 1rem;

      p {
        margin: 0;
      }

      .test-logo img {
        width: 50px;
      }
    }
  }

  #mega-menu-wrap-primary #mega-menu-primary {
    .testimonial-megamenu-item {
      p {
        font-size: .9rem;
        margin-bottom: 10px;
      }

      > div.info {
        p {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
}


@media screen and (min-width: 1441px) and (max-width: 1700px) {
  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu .mega-menu-column:nth-child(2) {
    padding: 1rem 3rem;
  }

  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item .textwidget p {
    font-size: .95rem;
  }

  nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title {
    font-size: 1.3rem;
  }

  nav .testimonial-megamenu-item {
    h3 {
      font-size: 1.3rem;
      margin-top: 1rem;
    }

    > div.info {
      margin-bottom: 1rem;

      p {
        margin: 0;
      }

      .test-logo img {
        width: 50px;
      }
    }
  }

  #mega-menu-wrap-primary #mega-menu-primary {
    .testimonial-megamenu-item {
      p {
        font-size: .95rem;
        margin-bottom: 10px;
      }

      > div.info {
        p {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
}


@media screen and (min-width: 1561px) and (max-width: 1770px) {
  nav .testimonial-megamenu-item {
    h3 {
      margin-top: 1rem;
    }
  }
}

/* Current page gold line on internal pages (e.g. /updates/) – top level so body wraps nav */
body.is-internal-page nav #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link:before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}