@use 'variables' as *;

nav {
  width: 80%;
  margin: 0 auto;
  padding: .75rem 0;
  background: $color-white;
  display: flex;
  justify-content: center;

  #mega-menu-wrap-primary {
    background: none;
    position: unset;

    #mega-menu-primary {
      display: flex;
      justify-content: center;
      gap: 2rem;
      position: unset;

      > li.mega-menu-item.mega-current-menu-item {
        width: 135px;
        display: flex;
        justify-content: center;

        &.menu-item-logo {
          a:before {
            display: none;
          }
        }

        > a.mega-menu-link {
          font-family: "Times";
          padding: 0;
          justify-content: center;
          height: auto;
          background: none;
          font-size: .9rem;
          line-height: .9rem;
          text-transform: uppercase;
          color: $color-dark-blue;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: #d0b135;
            top: 20px;
            left: 0;
            pointer-events: none;
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.3s;
          }

          &:hover {
            transition: 0.35s ease;

            &:before {
              transform-origin: 0% 50%;
              transform: scale3d(1, 1, 1);
            }
          }
        }

        //&.menu-item-logo {
        //  a {
        //    width: auto;
        //
        //    img {
        //      max-height: 135px;
        //    }
        //  }
        //}
      }
    }
  }

  .mega-menu-wrap {
    background: none;
  }

  /** SUB MENU ***/
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
    background: $color-light-blue;
    top: 160px;
    border-bottom: 1px solid $color-slate-200;

    .mega-menu-column {
      &:first-child {
        padding: 5rem;

        @media (max-width: 1550px) {
          padding: 4rem 5rem;
        }
      }

      .menu-sub-menu-about-container {
        .menu {
          li {
            a {
              padding: 2.5rem;
              border-bottom: 1px solid $color-slate-200;
              border-left: 4px solid $color-slate-200;
              border-right: 1px solid $color-slate-200;
              display: flex;
              font-size: 1rem;
              text-transform: uppercase;

              &:hover {
                transition: all 0.5s ease-in-out;
                border-left-color: $color-gold;
                //color: $color-gold;
              }
            }

            &:last-child {
              a {
                border-bottom: none;
              }
            }
          }
        }
      }
    }

    li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
      h4.mega-block-title {

        color: $color-dark-blue;
        text-transform: uppercase;
        padding: 0;
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0 0 1.25rem;
        font-weight: 400;
      }

      .textwidget {
        margin: 0;
        padding: 0;
        color: $color-dark-blue;

        p {
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
      }
    }
  }

  #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
    padding: 0;
  }

  .testimonial-megamenu-item {

    h3 {
      font-size: 1.5rem;
      padding-left: 2rem;
      margin: 2rem 0 1rem;
    }

    > div {
      font-size: 1rem;
      padding: 0 2rem;
    }
  }
}

