// Shared block styles used across multiple pages (main, vision-mission, projects, services, etc.)
@use 'variables' as *;

body {
  color: $color-dark-blue;
}

.block-text {
  ul {
    margin-bottom: 1.25rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
}

.bg-lightblue {
  background-color: $color-light-blue;
}

.block-dark,
.block-light {
  .block-header {
    font-weight: 600;
  }
}

.block-light {
  .block-header,
  .block-text {
    color: $color-dark-blue;
    &:after {
      display: none;
      background-color: $color-dark-blue;
    }
  }
  a.block-text {
    &:after {
      background-color: $color-dark-blue;
    }
  }
  .read-more {
    color: $color-dark-blue;
  }
  &:hover {
    color: $color-gold;
    a.read-more {
      color: $color-gold;
    }
  }
}

.block-light,
.project-grid .block,
.block-dark {
  .read-more {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem 1rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    &:before,
    &:after {
      content: '' !important;
      box-sizing: inherit;
      position: absolute;
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }
    &:before {
      top: 0;
      left: 0;
    }
    &:after {
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
    }
  }
  &:hover {
    .read-more {
      transition: color 0.15s;
      color: $color-gold;
      &:before,
      &:after {
        width: 100%;
        height: 100%;
      }
      &:before {
        border-top-color: $color-gold;
        border-right-color: $color-gold;
        transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
      }
      &:after {
        border-bottom-color: $color-gold;
        border-left-color: $color-gold;
        transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
      }
      &:before {
        border-top-color: $color-gold;
        border-right-color: $color-gold;
      }
      &:after {
        border-bottom-color: $color-gold;
        border-left-color: $color-gold;
        transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
      }
    }
  }
}

.block-dark {
  .block-header,
  .block-text {
    color: $color-white;
    &:after {
      display: none;
      background-color: $color-white;
    }
  }
  a.block-text {
    &:after {
      background-color: $color-white;
    }
  }
  &:hover {
    color: $color-gold;
    a.read-more {
      color: $color-gold;
    }
  }
}
