$color-dark-blue: #00012E;
$color-light-blue: #f0f7ff;
$color-slate-200: #e2e8f0;
$color-gold: #d0b135;
$color-white: #FFF;
$color-red-error: #BE1D1DFF;
$accent: $color-dark-blue;
$secondary: #E8F7FE;
$light: $color-light-blue;
$hover: $color-gold;


$desktop-header-height: 132px;
